@media (min-width: 1905px) {
.about-title {
  position: absolute;
  max-width: 675px;
  top: 1156px;
  left: 8px;
}

.about-subtitle {
  max-width: 632px;
  top: 1150px;
  left: 7px;
}

.about-subtitle_ {
  max-width: 632px;
  top: 1150px;
  left: 7px;
}

.btn-portfolio_up {
  position: absolute;
  width: 198px;
  height: 54px;
  top: 1449px;
  left: 7px;
  border: 1.5px solid #2eecc5;
  border-radius: 4px;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
  background: #161617;
  z-index: 1;
}

.btn-portfolio_down {
  position: absolute;
  width: 198px;
  height: 55px;
  top: 1459px;
  left: 15px;
  border: 1.5px solid rgba(46, 236, 197, 0.4);
  border-radius: 4px;
}

.btn-portfolio_up a {
  top: 14px;
  left: 42px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  color: #fff;
}

.block-card {
  position: absolute;
  width: 100%;
  min-height: 400px;
  top: 1576px;
  display: flex;
  justify-content: space-between;
}

.card {
  /* position: relative; */
  width: 400px;
  height: 400px;
  /* top: 1576px; */
  border-radius: 6px;
  background: linear-gradient(
    139.56deg,
    #303134 10.06%,
    #282828 53.72%,
    #282828 88%
  );
}

.money {
  width: 211px;
  height: 211px;
  top: 62px;
  float: right;
  background-image: url(../img/money.svg);
}

/* #left-card {
  left: 6px;
  border-width: 1px;
  border-image-source: linear-gradient(
    134.85deg,
    rgba(255, 255, 255, 0.2) 1.5%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid;
  box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);

  border-image-slice: 30;
} */

/* #middle-card {
  left: 6px;
  border-width: 1px;
  border-image-source: linear-gradient(
    134.57deg,
    rgba(255, 255, 255, 0.2) 0.74%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid;
  box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
} */

/* #right-card {

  left: 6px;
  border-width: 1px;
  border-image-source: linear-gradient(
    136.85deg,
    rgba(255, 255, 255, 0.2) 1.87%,
    rgba(255, 255, 255, 0) 98.6%
  );
  border: 1px solid;
  box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
} */

#up-card {
  top: 877px;
  left: 876px;
  background: linear-gradient(
    139.56deg,
    #527791 10.06%,
    #325597 53.72%,
    #193895 88%
  );
}



.card-title {
  /* position: absolute; */
  max-width: 258px;
  min-height: 64px;
  top: 40px;
  left: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 123%;
  color: rgba(255, 255, 255, 1);
}

.card-subtitle {
  /* position: absolute; */
  max-width: 344px;
  min-height: 63px;
  top: 70px;
  left: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.9);
}

}

