.section-about {
  width: 100%;
  margin-bottom: 280px;
  display: flex;
  justify-content: center;
}

.section-about_conteiner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 35px;
  margin-left: 18px;
}

.about-text {
  width: 672px;
}

.about-title {
  margin-top: 12px;
  margin-bottom: 20px;
}

.about-subtitle {
  width: 670px;
}

.btton-about_conteiner {
  position: relative;
  margin-top: 45px;
}

.btn-about {
  position: absolute;
  width: 200px;
  height: 57px;
  border-radius: 4px;
  border: 1.5px solid #2eecc5;
  background: #161617;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
}

.btn-about p {
  width: 114px;
  font-size: 19px;
}

.btn-about_shadow {
  position: relative;
  left: 12px;
  top: 10px;
  width: 200px;
  height: 57px;
  border-radius: 4px;
  border: 1.5px solid rgba(46, 236, 197, 0.4);
  z-index: -1;
}

.about-box {
  width: 400px;
  height: 400px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: linear-gradient(
    140deg,
    #303134 10.06%,
    #282828 53.72%,
    #282828 88%
  );
  box-shadow: 0 0 80px 0 rgba(44, 44, 45, 0.35);
}

.about-box_price {
  border-radius: 6px;
  background: linear-gradient(
    140deg,
    #527791 10.06%,
    #325597 53.72%,
    #193895 88%
  );
  box-shadow: 0 0 150px 0 rgba(59, 95, 150, 0.35);
}

.about-box_conteiner {
  width: 305px;
  margin: 38px auto 0;
  display: flex;
  flex-direction: column;
}

.about-box_title {
  width: 258px;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%;
  margin: 0 0 22px 0;
}

.about-box_subtitle {
  color: rgba(255, 255, 255, 0.9);
  font-family: Ruberoid;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 123.1%;
}

.about-box_img {
  width: 100%;
  display: flex;
  justify-content: right;
}

.img-money {
  width: 211px;
  height: 211px;

  background-image: url(../img/money.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.img-time {
  width: 200px;
  height: 189px;
  margin-top: 20px;

  background-image: url(../img/time.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.img-employ {
  width: 156px;
  height: 189px;
  margin-top: 20px;

  background-image: url(../img/employ.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.img-support {
  width: 183px;
  height: 189px;
  margin-top: 19px;

  background-image: url(../img/support.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1300px) {

  .section-about {
    margin-bottom: 89px;
  }

  .section-about_conteiner {
    justify-content: center;
  }

  .about-text {
    width: 100%;
    text-align: center;
  }

  .about-text {
    width: 100%;
    height: 150px;
    text-align: center;
  }

  .about-title {
    width: 100%;
    margin-bottom: 17px;
  }

  .about-subtitle {
    width: 100%;
  }

  .about-subtitle_ {
    display: none;
  }

  .btton-about_conteiner {
    display: flex;
    justify-content: center;
    margin-top: 27px;
  }
  .btn-about {
    width: 131px;
    height: 41px;
    border-radius: 4px;
    border: 1.5px solid #2eecc5;
    background: #161617;
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
  }

  .btn-about p {
    width: 114px;
    font-size: 13px;
  }

  .btn-about_shadow {
    width: 129px;
    height: 41px;
  }

  .about-box {
    width: 289px;
    height: 289px;
  }

  .about-box_conteiner {
    max-width: 243px;
    margin: 25px auto 15px;
  }

  .about-box_title {
    max-width: 258px;
    font-size: 22px;
    margin: 0 0 16px 0;
  }

  .about-box_titlmoney {
    max-width: 225px;
    margin: 0 0 5px 0;
  }

  .about-box_subtitle {
    font-size: 12px;
  }

  .img-money {
    width: 158px;
    height: 139px;
    margin-top: 4px;

    background-image: url(../img/m-money.svg);
  }

  .img-time {
    width: 136px;
    height: 130px;
    margin-top: 2px;

    background-image: url(../img/m-time.svg);
  }

  .img-employ {
    width: 111px;
    height: 137px;
    margin-top: -5px;
    background-image: url(../img/m-employ.svg);
  }

  .img-support {
    width: 125px;
    height: 126px;

    margin-top: 6px;
    background-image: url(../img/m-support.svg);
  }
}
