.contacty-title {
  position: absolute;
  top: 4386px;
  width: 100%;
  text-align: center;
}

.contacty-title p {
  color: var(--Mono-White, #fff);
  font-family: var(--font-family);
  font-size: 96px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.92px;
}

.block-contacty {
  position: absolute;
  width: 100%;
  height: 165px;
  top: 4586px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 46px;
}

.circleslider {
  width: 110px;
  height: 110px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: var(--Mono-White, #fff);
  opacity: 0.9;
  background-image: url(../img/slider-contacty/Ellipse\ 233.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ballslider {
  width: 90px;
  height: 90px;
  flex-shrink: 0;
  /* background-image: url(../img/slider-contacty/Group\ 26.svg); */
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1905px) {
.ballslider {
background-image: url(../img/slider-contacty/Group\ 26.svg);
}

.telegram {
  background-image: url(../img/slider-contacty/Telegram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.vk {
  background-image: url(../img/slider-contacty/Telegram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.gmail {
  background-image: url(../img/slider-contacty/Telegram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.max {
  background-image: url(../img/slider-contacty/Telegram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.linked {
  background-image: url(../img/slider-contacty/Telegram.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
}

.icon-contacty {
  width: 43px;
  height: 40px;
  flex-shrink: 0;
}




.ballslider:hover {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  background-image: url(../img/slider-contacty/LinkedIN.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleslider:hover {
  width: 165px;
  height: 165px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #2eecc5;
  opacity: 0.9;
  background-image: url(../img/slider-contacty/Ellipse\ 236.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}