/* .mainconteiner {
  width: 200%;
  display: flex;
  transition: transform 0.5s ease-in-out;
} */


.conteiner {
  position: relative;
  max-width: 1275px;
  margin: 0 auto;
  left: 7px;
  /* visibility: hidden; */
}

.lamp {
  position: absolute;
  width: 128px;
  height: 8px;
  flex-shrink: 0;
  background-image: url(../img/lamp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 40%;
}

@media (max-width: 1905px) {
  .conteiner {
    position: relative;
    max-width: 330px;
    margin: 0 auto;
  }

  .lamp {
    display: none;
  }
}

.box-arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow-style {
  width: 282px;
  height: 282px;
}

.left-arrow {
  background-image: url(../img/slider-tarif/l-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.right-arrow {
  background-image: url(../img/slider-tarif/r-arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
