.room {
  position: absolute;
  width: 100%;
  min-height: 1060px;
  background-image: url(../img/room.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* .circle {
  position: absolute;
  width: 700px;
  height: 700px;
  top: 334px;
  right: 8px;
  background-image: url(../img/circle.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
} */

.line {
  position: absolute;
  width: 100%;
  height: 5px;
  top: 1055px;
  background: linear-gradient(
    90deg,
    rgba(42, 188, 158, 0) 0%,
    #2abc9e 48.65%,
    rgba(42, 188, 158, 0) 100%
  );
}

.group-line_up {
  position: absolute;
  width: 100%;
  min-height: 1352px;
  top: 770px;
  background-image: url(../img/group-lineup.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.group-line_down {
  position: absolute;
  width: 100%;
  min-height: 2099px;
  top: 1541px;
  background-image: url(../img/group-line.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.line-menu {
  position: absolute;
  left: 177px;
  width: 2.5px;
  background: linear-gradient(
    70deg,
    rgba(46, 236, 197, 0) 0%,
    rgba(46, 236, 197, 0.5) 43.69%,
    rgba(46, 236, 197, 0.07) 92.19%,
    rgba(255, 177, 177, 0) 100%
  );
}

.line-menu_first {
  top: 0;
  height: 1062.008px;
}

.line-menu_second {
  height: 1062px;
  top: 1062px;
}

.line-menu_third {
  height: 778px;
  top: 2110px;
}

.line-menu_fourth {
  height: 984px;
  top: 2888px;
}

.block-forma {
  position: absolute;
  width: 100%;
  height: 458px;
  top: 3872px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    91.69deg,
    #313134 -11.81%,
    #222224 23.9%,
    #12473c 60.63%,
    #292929 110.44%
  );
}

.mark {
  position: absolute;
  left: 123px;
  display: flex;
  align-items: center;
}

.figure-light {
/*   font-family: var(--font-family); */
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oval {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8px;
}

.oval-01 {
  margin: 10px;
}

.oval-light_bord {
  width: 26px;
  height: 45px;
  border-radius: 20px;
  border: 1.5px solid #29ad91;
}

.oval-light {
  width: 18px;
  height: 37px;
  border-radius: 9px;
  background: linear-gradient(180deg, #b5feef 0%, #22a98d 100%);
}

.position-mark-01_ligth {
  left: 126px;
  top: 159px;
}
.position-mark-02_ligth {
  top: 1152px;
}
.position-mark-03_ligth {
  top: 2257px;
}
.position-mark-04_ligth {
  top: 2973px;
}

.figure-dark {
/*   font-family: var(--font-family); */
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(
    91deg,
    rgba(181, 254, 239, 0.5) 10.31%,
    rgba(46, 236, 197, 0.5) 165.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.oval-dark_bord {
  width: 26px;
  height: 45px;
  border-radius: 20px;
  border: 1.5px solid #597872;
}

.oval-dark {
  width: 18px;
  height: 37px;
  border-radius: 9px;
  background: linear-gradient(180deg, #5d7c76 0%, #0a3028 100%);
}

.position-markfirst-02_dark {
  top: 751px;
}

.position-markfirst-03_dark {
  top: 815px;
}
.position-markfirst-04_dark {
  top: 878px;
}
.position-markfirst-05_dark {
  top: 943px;
}

.position-marksecond-03_dark {
  top: 1803px;
}
.position-marksecond-04_dark {
  top: 1866px;
}
.position-marksecond-05_dark {
  top: 1930px;
}
.position-markthird-04_dark {
  top: 2643px;
}
.position-markthird-05_dark {
  top: 2706px;
}
.position-markfourth-05_dark {
  top: 3502px;
}




@media (max-width: 1905px) {
  .line-menu {
    display: none;
  }

  .mark {
    display: none;
  }

  .group-line_up {
    display: none;
  }

  .room {
    position: absolute;
    width: 100%;
    min-height: 640px;
    background-image: url(../img/room.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  /* .man {
    position: absolute;
    width: 241px;
    height: 412px;
    top: 228px;
    right: 0px;
    background-image: url(../img/m-man.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
  } */

  .line {
    position: absolute;
    width: 100%;
    height: 5px;
    width: 1920;
    height: 5;
    top: 640px;
    background: linear-gradient(
      135deg,
      rgba(42, 188, 158, 0) 0%,
      #2abc9e 48.65%,
      rgba(42, 188, 158, 0) 100%
    );
  }

/*   .circle {
    position: absolute;
    width: 200px;
    height: 347px;
    top: 299px;
    right: 0px;
    background-image: url(../img/elipse.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .circle-s {
    position: absolute;
    width: 171px;
    height: 289px;
    top: 328px;
    right: 0px;
    background-image: url(../img/s-elipse.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .circle-m {
    position: absolute;
    width: 142px;
    height: 231px;
    top: 357px;
    right: 0px;
    background-image: url(../img/m-elipse.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  } */

  .block-forma {
    position: absolute;
    width: 100%;
    height: 677px;
    top: 3654px;

    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      73deg,
      #313134 -57.16%,
      #222224 3.42%,
      #12473c 53.17%,
      #292929 86.16%
    );
  }

  .group-line_down {
    position: absolute;
    width: 100%;
    min-height: 742px;
    top: 2267px;
    background-image: url(../img/group-minline.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

}



.page-slide {
width: 1270px;
margin: 0 auto;
top: 100px;

}