.conteiner {
  position: relative;
  max-width: 1275px;
  margin: 0 auto;
  left: 7px;
}

.lamp {
  position: absolute;
  width: 128px;
  height: 8px;
  flex-shrink: 0;
  background-image: url(../img/lamp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 40%;
}

@media (max-width: 1300px) {
  .conteiner {
    position: relative;
    max-width: 330px;
    margin: 0 auto;
  }

  .lamp {
    display: none;
  }
}