:root {
  --font-family: "Ruberoid", sans-serif;
  color: rgba(255, 255, 255, 1);
}

body {
  background: #161617;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #fff;
}

@media (min-width: 1905px) {
  h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 100%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 170%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 55px;
    line-height: 111%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
  }

  h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 122%;
    letter-spacing: 0.004em;
    color: rgba(255, 255, 255, 0.65);
  }

  h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.005em;
    line-height: 132%;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 19px;
  }
}

@media (min-width: 1905px) {
  .room {
    position: absolute;
    width: 100%;
    min-height: 1060px;
    background-image: url(/img/room.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .man {
    position: absolute;
    width: 663px;
    height: 844px;
    top: 211px;
    right: 118px;
    background-image: url(/img/man.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .circle {
    position: absolute;
    width: 700px;
    height: 700px;
    top: 334px;
    right: 8px;
    background-image: url(../img/circle.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .line {
    position: absolute;
    width: 100%;
    height: 5px;
    width: 1920;
    height: 5;
    top: 1055px;
    background: linear-gradient(
      135deg,
      rgba(42, 188, 158, 0) 0%,
      #2abc9e 48.65%,
      rgba(42, 188, 158, 0) 100%
    );
  }

  .group-line_up {
    position: absolute;
    width: 100%;
    min-height: 1354px;
    top: 770px;
    background-image: url(../img/group-lineup.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .block-forma {
    position: absolute;
    width: 100%;
    min-height: 458px;
    left: -7px;
    top: 3872px;
    border-width: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      91.69deg,
      #313134 -11.81%,
      #222224 23.9%,
      #12473c 60.63%,
      #292929 110.44%
    );
  }

  .line-menu_first {
    position: absolute;
    width: 1062px;
    height: 2.5px;
    transform: rotate(90deg);
    opacity: 1;
    top: 531px;
    left: -351px;
    background: linear-gradient(
      270deg,
      rgba(46, 236, 197, 0) 0%,
      rgba(46, 236, 197, 0.5) 43.69%,
      rgba(46, 236, 197, 0.0693742) 92.19%,
      rgba(255, 177, 177, 0) 100%
    );
  }

  .line-menu_second {
    position: absolute;
    width: 1062px;
    height: 2.5px;
    transform: rotate(90deg);
    opacity: 1;
    top: 1581px;
    left: -351px;
    background: linear-gradient(
      270deg,
      rgba(46, 236, 197, 0) 0%,
      rgba(46, 236, 197, 0.5) 43.69%,
      rgba(46, 236, 197, 0.0693742) 92.19%,
      rgba(255, 177, 177, 0) 100%
    );
  }

  .line-menu_third {
    position: absolute;
    width: 778px;
    height: 2.5px;
    transform: rotate(90deg);
    opacity: 1;
    top: 2499px;
    left: -208px;
    background: linear-gradient(
      270deg,
      rgba(46, 236, 197, 0) 0%,
      rgba(46, 236, 197, 0.5) 43.69%,
      rgba(46, 236, 197, 0.0693742) 92.19%,
      rgba(255, 177, 177, 0) 100%
    );
  }

  .line-menu_fourth {
    position: absolute;
    width: 984px;
    height: 2.5px;
    transform: rotate(90deg);
    opacity: 1;
    top: 3380px;
    left: -313px;
    background: linear-gradient(
      270deg,
      rgba(46, 236, 197, 0) 0%,
      rgba(46, 236, 197, 0.5) 43.69%,
      rgba(46, 236, 197, 0.0693742) 92.19%,
      rgba(255, 177, 177, 0) 100%
    );
  }
}

@media (max-width: 1904px) {
  .room {
    position: absolute;
    width: 100%;
    min-height: 640px;
    background-image: url(../img/room.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .man {
    position: absolute;
    width: 241px;
    height: 412px;
    top: 228px;
    right: 0px;
    background-image: url(../img/m-man.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .line {
    position: absolute;
    width: 100%;
    height: 5px;
    width: 1920;
    height: 5;
    top: 640px;
    background: linear-gradient(
      135deg,
      rgba(42, 188, 158, 0) 0%,
      #2abc9e 48.65%,
      rgba(42, 188, 158, 0) 100%
    );
  }

  .circle {
    position: absolute;
    width: 200px;
    height: 347px;
    top: 299px;
    right: 0px;
    background-image: url(../img/elipse.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .circle-s {
    position: absolute;
    width: 171px;
    height: 289px;
    top: 328px;
    right: 0px;
    background-image: url(../img/s-elipse.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .circle-m {
    position: absolute;
    width: 142px;
    height: 231px;
    top: 357px;
    right: 0px;
    background-image: url(../img/m-elipse.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .block-forma {
    position: absolute;
    width: 100%;
    min-height: 676px;
    left: -7px;
    top: 3653px;
    border-width: 1px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      91.69deg,
      #313134 -11.81%,
      #222224 23.9%,
      #12473c 60.63%,
      #292929 110.44%
    );
  }

  h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 27px;
    text-transform: uppercase;
    line-height: 100%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 30px;
    line-height: 111%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
  }

  h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 11px;
    line-height: 122%;
    letter-spacing: 0.004em;
    color: rgba(255, 255, 255, 0.65);
  }

  h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: -0.005em;
    line-height: 132%;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 19px;
  }
}

.group-line_down {
  position: absolute;
  width: 100%;
  min-height: 2099px;
  top: 1541px;
  background-image: url(../img/group-line.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media (max-width: 335px) {
  .man {
    display: none;
  }
}
