.conteiner {
  position: relative;
  max-width: 1275px;
  margin: 0 auto;
  /* margin-left: 7px; */
}

.lamp {
  position: absolute;
  width: 128px;
  height: 8px;
  background-image: url(../img/lamp.svg);
  background-size: cover;
  background-repeat: no-repeat;
  left: 40%;
}

@media (max-width: 1300px) {
 /*  .conteiner {
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
  } */

  .lamp {
    display: none;
  }
}