@media (min-width: 1905px) {
  h1 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 65px;
    text-transform: uppercase;
    line-height: 100%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 45px;
    text-transform: uppercase;
    line-height: 170%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 55px;
    line-height: 111%;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
  }

  h4 {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 122%;
    letter-spacing: 0.004em;
    color: rgba(255, 255, 255, 0.65);
  }

  h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    letter-spacing: -0.005em;
    line-height: 132%;
    color: rgba(255, 255, 255, 0.65);
    margin-top: 19px;
  }
}


@media (max-width: 1904px) {
h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 27px;
  text-transform: uppercase;
  line-height: 117%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 12px;
}



h4 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  line-height: 111%;
  background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
}

h3 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 125%;
  letter-spacing: 0.004em;
  color: rgba(255, 255, 255, 0.65);
}

h5 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.005em;
  line-height: 132%;
  color: rgba(255, 255, 255, 0.65);
  margin-top: 19px;
}
}