:root {
  --font-family: "Ruberoid", sans-serif;
  --font-color: rgba(255, 255, 255, 1);
}

h1 {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 65px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
}

h2 {
  color: var(--font-color);
  font-family: var(--font-family);
  font-size: 45px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h3 {
  color: rgba(255, 255, 255, 0.65);
  font-family: var(--font-family);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
