@media (min-width: 1905px) {
  .contact {
    position: absolute;
    width: 497px;
    height: 132px;
    top: 4470px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 96px;
    line-height: 100%;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 1);
  }

  .contact::after {
    content: "Контакты";
  }

  .slider-contacty {
    position: absolute;
    width: 814px;
    min-height: 165px;
    top: 4670px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #473030;
    opacity: 0.5;
  }

  .footer-copy {
    position: absolute;
    /* width: 529px;
    height: 15px; */
    top: 4420px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 15px;
    line-height: 106%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  .footer-politic {
    position: absolute;
    /*   width: 363px;
  height: 13px; */
    padding-bottom: 40px;
    top: 4470px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    line-height: 106%;
    text-align: center;
  }

  .footer-politic a {
    color: rgba(255, 255, 255, 0.4);
  }

  .star {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/star.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #star-up {
    top: 4406px;
    left: 886px;
  }

  #star-down {
    top: 4486px;
    left: 354px;
  }

  .star-small {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/star-small.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #star-small_up {
    top: 4374px;
    left: 874px;
  }

  #star-small_down {
    top: 4532px;
    left: 396px;
  }
}

@media (max-width: 1904px) {
  .slider-contacty {
    position: absolute;
    width: 100%;
    min-height: 86px;
    top: 4220px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      110deg,
      #313134 0%,
      #222224 42.27%,
      #292929 100%
    );
  }

  .footer-copy {
    position: absolute;
    /* width: 529px;
    height: 15px; */
    top: 4220px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    line-height: 106%;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
  }

  .footer-politic {
    position: absolute;
    /* width: 363px;
    height: 13px; */
    padding-bottom: 15px;
    top: 4692px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 9px;
    line-height: 106%;
    text-align: center;
  }

  .footer-politic a {
    color: rgba(255, 255, 255, 0.4);
  }

  .star {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/star.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #star-up {
    top: 4431px;
    left: 293px;
  }

  #star-down {
    top: 4759px;
    left: 9px;
  }

  .star-small {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/star-small.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #star-small_up {
    top: 4408px;
    left: 257px;
  }

  #star-small_down {
    top: 4887px;
    left: 329px;
  }
}

@media (max-width: 335px) {
  #star-up {
    display: none;
  }

  #star-down {
    display: none;
  }

  #star-small_up {
    display: none;
  }

  #star-small_down {
    display: none;
  }
}
