.footer {
    position: absolute;
  width: 100%;
    top: 4822px;
    flex-shrink: 0;
    text-align: center;
}


.copyright {

  /* top: 4822px; */
  /* text-align: center; */
  margin-bottom: 17px;
}

.copyright p {
    color: rgba(255, 255, 255, 0.70);
    font-family: var(--font-family);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.6%; /* 15.84px */
}

.agreement {

  /* top: 4852px;
  text-align: center; */
  margin-bottom: 40px;
}

.agreement p {
    color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: var(--font-family);
font-size: 13px;
font-style: normal;
font-weight: 400;
line-height: 105.6%; /* 13.728px */
}
