.forma-conteiner {
  position: absolute;
  top: 3910px;
  width: 920px;
  display: flex;
  flex-direction: column;
}

.forma-title {
  width: 412px;
  margin-bottom: 26px;
}

.forma-block {
  display: flex;
  width: 920px;
  height: 321px;
}

.forma {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.forma p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%;
}

.input-field {
  width: 437px;
  height: 52px;
  border-radius: 41px;
  border: 1.5px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
  margin: 5px 48px 19px 0;
}

.btn-forma {
  width: 172px;
  height: 57px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
}

.btn-forma p {
  width: 97px;
}

.iphone {
  position: absolute;
  top: 3842px;
  right: -4px;
  width: 270px;
  height: 529px;
  flex-shrink: 0;
  background: url(../img/iPhone.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.elipse {
  width: 43px;
  height: 43px;
  flex-shrink: 0;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.elipse-text {
  display: flex;
  flex-direction: column;
}

.elipse-title p {
  color: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: Ruberoid;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  float: left;
}

.elipse-subtitle p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 105.6%;
}

.note {
  position: absolute;
  top: 3917px;
  right: 164px;
  width: 224px;
  height: 60px;
  background-image: url(../img/note.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.note-elipse {
  background-image: url(../img/ellipse-left.svg);
}

.phone {
  width: 25px;
  height: 24px;
  flex-shrink: 0;
  background-image: url(../img/ellipse-phone.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.note-title p::after {
  content: "Уведомление!";
}

.note-title {
  width: 105px;
  height: 23px;
  flex-shrink: 0;
}

.note-title p::after {
  content: "Уведомление!";
}

.note-subtitle {
  width: 146px;
  height: 24px;
  flex-shrink: 0;
}

.note-subtitle p::after {
  content: "В скорейшем времени вам перезвонят";
}

.finish {
  position: absolute;
  top: 4084px;
  right: -145px;
  width: 213px;
  height: 58px;
  background-image: url(../img/finish.svg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.finish-elipse {
  background-image: url(../img/ellipse-right.svg);
}

.ball {
  width: 31px;
  height: 31px;
  flex-shrink: 0;
  background-image: url(../img/ellipse-ball.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.finish-title {
  width: 142px;
  height: 20px;
  flex-shrink: 0;
}

.finish-title p::after {
  content: "Работа закончена!";
}

.finish-subtitle {
  width: 145px;
  height: 26px;
  flex-shrink: 0;
}

.finish-subtitle p::after {
  content: "Мы закончили работу над вашим сайтом";
}
