@media (min-width: 1905px) {
  .logo-studio {
    position: absolute;
    width: 96px;
    height: 24px;
    top: 49px;
    left: 323px;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 17px;
    text-transform: uppercase;
    line-height: 141%;
    letter-spacing: 0.31em;
    color: #fff;
  }

  .logo-studio::after {
    content: "studio";
  }

  .logo-web {
    position: absolute;
    width: 95px;
    height: 54px;
    top: 56px;
    left: 324px;
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    text-transform: uppercase;
    line-height: 141%;
    letter-spacing: -0.12em;
    color: #fff;
  }

  .logo-web::after {
    content: "web";
  }

  .lamp {
    /* position: fixed;
    width: 800px;
    height: 120px;
    
    border-bottom-left-radius: 16px;
    border-bottom-right-radius:  16px;
    background: linear-gradient(180deg, #B5FEEF 0%, #22A98D 100%);
    z-index: 1;
    opacity: 0.5; */
    width: 200px;
    min-height: 29px;
    left: 475px;
    background-image: url(../img/lamp.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .main-menu {
    position: absolute;
    max-width: 650px;
    height: 22px;
    top: 71px;
    left: 382px;
    display: flex;
  }

  .main-menu p {
    margin-right: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
  }

  #menu-portfolio::after {
    content: "Портфолио";
  }
  #menu-tarif::after {
    content: "Тарифы";
  }
  #menu-about::after {
    content: "Почему именно мы?";
  }
  #menu-contact::after {
    content: "Контакты";
  }

  .btn-order {
    position: absolute;
    top: 0px;
    /* left: 1035px; */
    right: 274px;
    width: 307px;
    height: 168px;
    background-image: url(../img/btn-order.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .btn-order::after {
    position: absolute;
    left: 105px;
    top: 69px;
    line-height: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    color: rgba(255, 255, 255, 1);
    content: "Заказать";
  }

  .header-block_text {
    position: absolute;
    max-width: 814px;
    height: 100%;
    top: 340px;
    left: 6px;
  }

  .blur-h1 {
    position: absolute;
    top: 0;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 65px;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(45px);
  }

  .blur-h1::after {
    content: "Разработка сайтов";
  }

  .blur-h2 {
    position: absolute;
    top: 85px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 45px;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(45px);
  }

  .blur-h2::after {
    content: "для твоего бизнеса";
  }

  #h2::after {
    content: "для твоего бизнеса";
  }

  #h4::after {
    content: "Мы - студия web-разработки, работаем уже более 3-х лет, готовы разработать для вас сайт в кротчайшие сроки.";
  }

  .btn-clip {
    position: absolute;
    width: 200px;
    height: 56px;
    top: 642px;
    left: 6px;
    border-radius: 49px;
    border: 1.5px solid rgba(46, 236, 197, 1);
    background-color: rgba(46, 236, 197, 0.1);
    box-shadow: 0px 0px 62px 0px rgba(46, 236, 197, 0.15);
  }

  .btn-clip a {
    position: absolute;
    width: 137px;
    height: 21px;
    display: flex;
    justify-content: space-between;
    top: 17px;
    left: 30px;
    font-weight: 400;
    font-size: 18px;
    font-family: var(--font-family);
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
  }

  .text-question {
    position: absolute;
     width: 203px;
    height: 25px;
    top: 646px;
    left: 232px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 19px;
    line-height: 100%;
  }

  .text-question::after {
    content: "Остались вопросы?";
    color: rgba(255, 255, 255, 0.4);
  }

}

