.header-title {
  position: absolute;
  width: 807px;
  top: 327px;
}

.header-title_blur {
  position: absolute;
  width: 807px;
  top: 327px;
  background: linear-gradient(
    91deg,
    rgba(181, 254, 239, 0.3) 10.31%,
    rgba(46, 236, 197, 0.3) 165.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(22.5px);
}

.header-subtitle {
  position: absolute;
  width: 575px;
  top: 411px;
}

.header-subtitle_blur {
  position: absolute;
  width: 575px;
  top: 411px;
  background: linear-gradient(
    91deg,
    rgba(181, 254, 239, 0.3) 10.31%,
    rgba(46, 236, 197, 0.3) 165.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(22.5px);
}

.header-description {
  position: absolute;
  width: 672px;
  top: 504px;
}

.header-description h3::after {
  content: "Мы - студия web-разработки, работаем уже более 3-х лет, готовы разработать для вас сайт в кротчайшие сроки.";
}

.btn-block {
  position: absolute;
  top: 642px;
  width: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.btn-header {
  width: 200px;
  height: 57px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center
}

.btn-header a {
  width: 120px;
  flex-shrink: 0;
  margin: 0 0 0 0;
  /* margin-left: 31px; */
  letter-spacing: -0.8px;

}

.arrow {
  width: 9px;
  height: 16px;
  background-image: url(../img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.question {
  width: 203px;
}

.question a {
  color: rgba(255, 255, 255, 0.4);
  font-family: var(--font-family);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
