.section-header {
  /* position: absolute; */
  margin-bottom: 89px;
  display: flex;
  width: 100%;
  justify-content: center;
  /* overflow: hidden; */
}

.section-header_conteiner {
  display: flex;
  /* width: 1264px; */
  width: 100%;
}

.header-text {
  width: 801px;
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.header-title {
  position: relative;
  width: 807px;
  margin-top: 114px;
  /* margin-bottom: 14px; */
}

.header-title_blur_conteiner {
  position: absolute;
  width: 100%;
  top: 0;
}

.header-title_blur {
  width: 807px;
  background: linear-gradient(
    91deg,
    rgba(181, 254, 239, 0.3) 10.31%,
    rgba(46, 236, 197, 0.3) 165.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(22.5px);
}

.header-title_blur h1::after {
  content: "Разработка сайтов";
}

.header-subtitle {
  position: relative;
  width: 807px;
  margin-bottom: 27px;
}

.header-subtitle_blur {
  position: absolute;
  width: 100%;
  top: 0px;
}

.header-subtitle_blur {
  background: linear-gradient(
    91deg,
    rgba(181, 254, 239, 0.3) 10.31%,
    rgba(46, 236, 197, 0.3) 165.09%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: blur(22.5px);
}

.header-subtitle_blur h2::after {
  content: "Для твоего бизнеса";
}

.header-description {
  width: 672px;
  margin-bottom: 53px;
}

.header-description h3::after {
  content: "Мы - студия web-разработки, работаем уже более 3-х лет, готовы разработать для вас сайт в кротчайшие сроки.";
}

.btn-block {
  width: 425px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-header {
  width: 200px;
  height: 57px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.15);
}

.btn-header p {
  width: 125px;
  font-size: 19px;
}

.arrow {
  width: 9px;
  height: 16px;
  background-image: url(../img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.question {
  width: 203px;
}

.question a {
  color: rgba(255, 255, 255, 0.4);
  font-family: var(--font-family);
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.question a::after {
  content: "Остались вопросы?";
}

.man-block {
  display: flex;
}

.man {
  position: relative;
  width: 663px;
  height: 844px;
  background-image: url(../img/man.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.circle-conteiner {
  position: absolute;
  width: 700px;
  height: 700px;
  margin-left: 73px;
  margin-top: 123px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  position: absolute;
  width: 700px;
  height: 700px;
  border-radius: 700px;
  border: 2px solid rgba(46, 236, 197, 0.09);
}

.circle-s {
  position: absolute;
  width: 584px;
  height: 584px;
  border-radius: 584px;
  border: 2px solid rgba(46, 236, 197, 0.2);
}

.circle-m {
  position: absolute;
  width: 467px;
  height: 466px;
  border-radius: 467px;
  border: 2px solid rgba(46, 236, 197, 0.6);
}

.box-text {
  display: none;
}

.box-text_next {
  display: none;
}

@media (max-width: 1300px) {
  .section-header {
    flex-direction: column;
  }

  .section-header_conteiner {
    justify-content: center;
}

.header-text {
  width: 325px;
}

  .header-title {
    width: 228px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .header-title h1 {
    font-size: 27px;
    line-height: 118.1%;
  }

  .header-title_blur {
    display: none;
  }

  .header-subtitle {
    display: none;
  }

  .header-subtitle_blur {
    display: none;
  }

  .header-description {
    width: 218px;
    margin-bottom: 22px;
  }
  /* .header-description h3 {
    font-size: 13px;
  } */

  .header-description h3::after {
    content: "Мы web-студия которая работает уже больше 3-х лет";
  }

  .btn-block {
    width: 129px;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
  }

  .btn-header {
    width: 129px;
    height: 38px;
    /* background: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.15); */
  }

  .btn-header P {
    width: 74px;
    font-size: 11px;
  }

  .arrow {
    width: 7px;
    height: 12px;
    margin-left: 0;
    background-image: url(../img/m-arrow.svg);
    /*     background-size: contain;
    background-repeat: no-repeat; */
  }

  .question {
    display: none;
  }

  .man-block {
    display: flex;
    justify-content: center;
  }

  .man {
    /* position: absolute; */
    width: 330px;
    height: 412px;
    /* margin-left: -224px; */
  }

  .circle-conteiner {
    /*     position: absolute; */
    width: 347px;
    height: 347px;
    /*     margin-left: -184px; */
    margin-top: 70px;
    display: flex;
    /*     justify-content: center;
    align-items: center; */
  }

  .circle {
    /*     position: absolute; */
    width: 347px;
    height: 347px;
    border-radius: 347px;
    /*     border: 2px solid rgba(46, 236, 197, 0.09); */
  }

  .circle-s {
    /*     position: absolute; */
    width: 289px;
    height: 289px;
    border-radius: 289px;
    /*     border: 2px solid rgba(46, 236, 197, 0.2); */
  }

  .circle-m {
    /*     position: absolute; */
    width: 231px;
    height: 231px;
    border-radius: 231px;
    /*     border: 2px solid rgba(46, 236, 197, 0.6); */
  }

  .box-text_block {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 18px;
  }

  .box-text_conteiner {
    width: 325px;
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .box-text {
    width: 325px;
    height: 38px;
    border-radius: 41px;
    border: 1.5px solid #208c76;
    background: rgba(46, 236, 197, 0.04);
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-text p {
    width: 298px;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
