@media (max-width: 1300px) {
  .box-block_conteiner {
    position: absolute;
    width: 100%;
    top: 812px;
    display: flex;
    /* justify-content: center; */
  }

  .box-block {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 35px;
    min-width: 341px;
  }
  

  .about-text {
    width: 100%;
    height: 212px;
    text-align: center;
  }

  .about-title {
    width: 100%;
    margin-bottom: 17px;
  }

  .about-subtitle {
    width: 100%;
  }

  .about-subtitle_ {
    display: none;
  }

  .btton-about_conteiner {
    display: flex;
    justify-content: center;
    margin-top: 27px;
  }
  .btn-about {
   /*  position: absolute; */
    width: 131px;
  height: 41px;
  border-radius: 4px;
  border: 1.5px solid #2EECC5;
  background: #161617;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.20);
  }

  .btn-about p {
    width: 114px;
    font-size: 13px;
  }

  .btn-about_shadow {
    position: relative;
    left: 12px;
    top: 10px;
    width: 129px;
  height: 41px;
    border-radius: 4px;
    z-index: -1;
  }
  

  .about-box {
    width: 289px;
    height: 289px;
  }

  .about-box_conteiner {
    max-width: 243px;
    margin: 25px auto 15px;
  }

  .about-box_title {
    max-width: 258px;
    font-size: 22px;
    margin: 0 0 16px 0;
  }

  .about-box_titlmoney {
    max-width: 225px;
    margin: 0 0 5px 0;
  }

  .about-box_subtitle {
    font-size: 12px;
  }

  .img-money {
    width: 158px;
    height: 139px;
    margin-top: 4px;

    background-image: url(../img/m-money.svg);
  }

  .img-time {
    width: 136px;
    height: 130px;
    margin-top: 2px;

    background-image: url(../img/m-time.svg);
  }

  .img-employ {
    width: 111px;
    height: 137px;
    margin-top: -5px;
    background-image: url(../img/m-employ.svg);
  }

  .img-support {
    width: 125px;
    height: 126px;

    margin-top: 6px;
    background-image: url(../img/m-support.svg);
  }
}

@media (max-width: 660px) {
  .box-block {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 35px;
    max-width: 325px;
  }
}