@media (max-width: 1904px) {
  .section-about_text {
    position: absolute;
    max-width: 675px;
    height: 100%;
    top: 822px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
  }

  #h5-up::after {
    content: "Вы можете ознакомиться с информацией о нас и посмотреть наше портфолио";
  }

  .btn-portfolio_up {
    position: absolute;
    max-width: 131px;
    min-height: 41px;
    top: 989px;;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 1.5px solid #2eecc5;
    border-radius: 4px;
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
    background: #161617;
    z-index: 1;
  }

  .btn-portfolio_down {
    position: absolute;
    max-width: 129px;
    min-height: 41px;
    top: 981px;
    left: 13px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 1.5px solid rgba(46, 236, 197, 0.4);
    border-radius: 4px;
  }

  .btn-portfolio_up a {
    position: relative;
    max-width: 287px;
    min-height: 15px;
    top: 10px;
    left: 25px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 13px;
    color: #fff;
  }

  .block-card {
    position: absolute;
    /* display: block; */
    width: 100%;
    min-height: 400px;
    top: 1383px;
    
    /* margin: 0 auto; */
   /*  gap: 35px; */
/*     display: flex; */
  /*   flex-direction: column; */
    /* align-items: center; */
  }

  .card {
    /* position: relative; */
    max-width: 289px;
    min-height: 289px;
    margin: 0 auto 35px;
    /* top: 1576px; */
    /* margin-bottom: 35px; */
    border-radius: 6px;
    background: linear-gradient(
      139.56deg,
      #303134 10.06%,
      #282828 53.72%,
      #282828 88%
    );
  }

  #up-card {
    top: 1028px;
    
    /* left: 0;
   right: 0;
   bottom: 0; */
    margin: 0 auto;
    background: linear-gradient(
      139.56deg,
      #527791 10.06%,
      #325597 53.72%,
      #193895 88%
    );
  }

  #left-card {
    /* left: 6px; */
    
    /* position: relative; */
    /* margin: 0 auto; */
    border-width: 1px;
    border-image-source: linear-gradient(
      134.85deg,
      rgba(255, 255, 255, 0.2) 1.5%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid;
    box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);

    border-image-slice: 30;
  }

  #middle-card {
    /* left: 441px; */
    /* left: 6px; *//* margin: 0 auto; */
    border-width: 1px;
    border-image-source: linear-gradient(
      134.57deg,
      rgba(255, 255, 255, 0.2) 0.74%,
      rgba(255, 255, 255, 0) 100%
    );
    border: 1px solid;
    box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
  }

  #right-card {
    /* left: 878px; */
    /*  left: 6px; *//* margin: 0 auto; */
    border-width: 1px;
    border-image-source: linear-gradient(
      136.85deg,
      rgba(255, 255, 255, 0.2) 1.87%,
      rgba(255, 255, 255, 0) 98.6%
    );
    border: 1px solid;
    box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
  }

  .card-img {
    /* position: relative; */
    width: 125px;
    height: 125px;
    top: 65px;
    /* left: 164px; */
    /* right: 0; */
    float: right;
  }

  .card-text_head {
    /* position: absolute; */
    max-width: 183px;
    min-height: 54px;
    top: 27px;
    left: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 22px;
    line-height: 123%;
    color: rgba(255, 255, 255, 1);
  }

  .card-text {
    /* position: absolute; */
    max-width: 242px;
    min-height: 45px;
    top: 50px;
    left: 26px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 123%;
    color: rgba(255, 255, 255, 0.9);
  }
}