@media (max-width: 1600px) {
  .block-contacty {
    top: 4902px;
  }

  .contacty-title {
    display: none;
  }

  .block-contacty {
    height: 86px;
    top: 4942px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(
      110deg,
      #313134 0%,
      #222224 42.27%,
      #292929 100%
    );
    gap: 18px;
  }

  .circleslider {
    width: 55px;
    height: 55px;
  }

  .ballslider {
    width: 45px;
    height: 45px;
    background-image: url(../img/m-slider-contacty/s-Instagram.svg);
  }

  .icon-contacty {
    width: 24px;
    height: 15px;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .telegram {
    margin-left: 5px;
    background-image: url(../img/slider-contacty/Telegram-s.svg);
  }

  .telegrams {
    margin-left: 3px;
    background-image: url(../img/slider-contacty/Telegram.svg);
  }

  .vk {
    margin-left: 6px;
    background-image: url(../img/slider-contacty/Vk.svg);
  }
  .gmail {
    margin-left: 8px;
    background-image: url(../img/slider-contacty/gmail.svg);
  }
  .max {
    margin-left: 3px;
    background-image: url(../img/slider-contacty/Max.svg);
  }
  .linkedin {
    margin-left: 3px;
    background-image: url(../img/slider-contacty/LinkedIN.svg);
  }

  .ballsliders {
    width: 55px;
    height: 55px;
  }

  .circlesliders {
    width: 65px;
    height: 65px;
  }

  .icon-contacty:hover {
    width: 30px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
