@media (max-width: 1300px) {
  .forma-conteiner {
    position: absolute;
    top: 3679px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .forma-title {
    width: 100%;
    text-align: center;
  }

  .forma-block {
    display: flex;
    width: 100%;
    height: 578px;
  }

  .forma {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
  }

  .input-field {
    width: 328px;
    height: 52px;
    border-radius: 41px;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 38px 0 rgba(255, 255, 255, 0.05);
    margin: 0 auto 19px ;
  }

  .btn-forma {
    width: 183px;
    height: 56px;
    border-radius: 41px;
    border: 1.5px solid #2eecc5;
    background: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 62px rgba(46, 236, 197, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;;
  }


  .iphone {
    position: absolute;
    top: 4488px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 254px;
    height: 492px;
    flex-shrink: 0;
    background: url(../img/iPhone.png);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .elipse {
    width: 39px;
    height: 39px;
    flex-shrink: 0;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .elipse-text {
    display: flex;
  }

  .elipse-title p {
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-family: Ruberoid;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .elipse-subtitle p {
    color: rgba(255, 255, 255, 0.7);
    font-family: Ruberoid;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 105.6%;/*  */
  }

  .note {
    position: absolute;
    top: 4591px;
    left: -11px;
    width: 164px;
    height: 48px;
    background-image: url(../img/m-note.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    display: none;
  }

  .note-elipse {
    background-image: url(../img/ellipse-left.svg);
  }

  .phone {
    width: 22px;
    height: 21px;
    flex-shrink: 0;
    background-image: url(../img/ellipse-phone.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .note-title p::after {
    content: "Уведомление!";
  }

  .note-title {
    width: 103px;
    height: 15px;
    flex-shrink: 0;
  }

  .note-title p::after {
    content: "Уведомление!";
  }

  .note-subtitle {
    width: 100px;
    height: 21px;
    flex-shrink: 0;
  }

  .note-subtitle p::after {
    content: "В скорейшем времени вам перезвонят";
  }

  .finish {
    position: absolute;
    top: 4717px;
    right: -7px;
    width: 164px;
    height: 48px;
    background-image: url(../img/m-finish.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    display: none;
  }

  .finish-elipse {
    background-image: url(../img/ellipse-right.svg);
  }

  .ball {
    width: 29px;
    height: 29px;
    flex-shrink: 0;
    background-image: url(../img/ellipse-ball.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .finish-title {
    width: 100px;
    height: 15px;
    flex-shrink: 0;
  }

  .finish-title p::after {
    content: "Работа закончена!";
  }

  .finish-subtitle {
    width: 100px;
    height: 21px;
    flex-shrink: 0;
  }

  .finish-subtitle p::after {
    content: "Мы закончили работу над вашим сайтом";
  }
}
