@media (max-width: 1904px) {
  .forma-header {
    position: absolute;
    max-width: 277px;
    /*    min-height: 41px; */
    top: 3655px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .forma-header::after {
    content: "Оставь заявку";
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 37px;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
  }

  /* .forma {
    position: absolute;
    max-width: 330px;
    min-height: 453px;
    top: 3962px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    background: rgb(216, 187, 187);
    opacity: 0.1;
  } */

  .iphone {
    position: absolute;
    width: 254px;
    height: 492px;
    top: 4470px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/iPhone.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .iphone-blockleft {
    width: 161px;
    height: 45px;
    top: 4211px;
    left: 7px;
    border-width: 1px;
    border-radius: 29px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
  }

  .elipse-up {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 5px;
    left: 4px;
    background-image: url(../img/ellipse-left.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .phone {
    position: absolute;
    width: 22px;
    height: 21px;
    top: 15px;
    left: 12px;
    background-image: url(../img/ellipse-phone.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .note {
    position: absolute;
    width: 97px;
    height: 15px;
    top: 9px;
    left: 49px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    text-align: left;
  }

  .note::after {
    content: "Уведомление";
  }

  .note-text {
    position: absolute;
    width: 109px;
    height: 21px;
    top: 23px;
    left: 48px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 8px;
    line-height: 106%;
    color: rgba(255, 255, 255, 0.7);
  }

  .note-text::after {
    content: "В скорейшем времени вам перезвонят";
  }

  .iphone-blockright {
    position: absolute;
    width: 161px;
    height: 45px;
    top: 4698px;
    left: 194px;
    border-width: 1px;
    border-radius: 29px;
    backdrop-filter: blur(30px);
    background: rgba(255, 255, 255, 0.1);
  }

  .elipse-down {
    position: absolute;
    width: 39px;
    height: 39px;
    top: 4px;
    left: 5px;
    background-image: url(../img/ellipse-right.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .ball {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 7px;
    left: 8px;
    background-image: url(../img/ellipse-ball.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .theend {
    position: absolute;
    width: 100px;
    height: 15px;
    top: 8px;
    left: 48px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.9);
  }

  .theend::after {
    content: "Работа закончена!";
  }

  .note-theend {
    position: absolute;
    width: 109px;
    height: 21px;
    top: 21px;
    left: 48px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 8px;
    line-height: 106%;
    color: rgba(255, 255, 255, 0.7);
  }

  .note-theend::after {
    content: "Мы закончили работу над вашим сайтом";
  }

  .star {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/star.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #star-up {
    top: 4431px;
    left: 293px;
  }

  #star-down {
    display: none;
  }

  .star-small {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/star-small.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #star-small_up {
    top: 4408px;
    left: 257px;
  }

  #star-small_down {
    top: 4887px;
    right: 16px;
  }

  #star-small_left {
    top: 4746px;
    left: 15px;
  }
}




  @media (max-width: 359px) {
    .iphone-blockright {
      display: none;
    }

    .iphone-blockleft {
      display: none;
    }

    #star-up {
      display: none;
    }
  
    #star-down {
      display: none;
    }
  
    #star-small_up {
      display: none;
    }
  
    #star-small_down {
      display: none;
    }
    
    #star-small_left {
      display: none;
    }

    .forma-header::after {
 /*      content: "Оставь заявку";
      font-family: var(--font-family);
      font-weight: 600; */
      font-size: 30px;
/*       background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2); */
  }
  }