@media (max-width: 1904px) {
  .forma-header {
    position: absolute;
    max-width: 277px;
 /*    min-height: 41px; */
    top: 3655px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .forma-header::after {
    content: "Оставь заявку";
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 37px;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
  }

  /* .forma {
    position: absolute;
    max-width: 330px;
    min-height: 453px;
    top: 3962px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    background: rgb(216, 187, 187);
    opacity: 0.1;
  } */

  .iphone {
    position: absolute;
    width: 254px;
    height: 492px;
    top: 4470px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-image: url(../img/iPhone.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .star {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/star.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  #star-up {
    top: 4431px;
    left: 293px;
  }

  #star-down {
    /* top: 4759px;
    left: 9px; */
    display: none;
  }

  .star-small {
    position: absolute;
    width: 16px;
    height: 16px;
    background-image: url(../img/star-small.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #star-small_up {
    top: 4408px;
    left: 257px;
  }

  #star-small_down {
    top: 4887px;
    right: 16px;
  }

  #star-small_left {
    top: 4746px;
    left: 15px;
  }
}


