@media (max-width: 1904px) {
  .forma-text {
    position: absolute;
    max-width: 277px;
    min-height: 41px;
    top: 3662px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  .forma-text::after {
    content: "Оставь заявку";
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 37px;
    background: linear-gradient(149deg, #b5feef 0%, #2eecc5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 36px 0 rgba(165, 252, 235, 0.2);
  }

  .forma {
    position: absolute;
    max-width: 330px;
    min-height: 453px;
    top: 3981px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    background: rgb(216, 187, 187);
    opacity: 0.1;
  }

  .iphone {
    position: absolute;
    width: 254px;
    height: 492px;
    top: 4716px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url(../img/iPhone.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

}


