@media (max-width: 1905px) {
  .header-block {
    top: 228px;
    height: 530px;
    flex-direction: column;
    align-items: center;
    gap: 23px;
  }

  .man-block {
    width: 344px;
    height: 412px;
  }

  .man {
    position: absolute;
    width: 536px;
    height: 412px;
    background-image: url(../img/man.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .header-text {
    width: 305px;
  }

  .header-text_block {
    position: absolute;
    width: 228px;
    display: flex;
    flex-direction: column;
  }

  .header-title {
    width: 228px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .header-title h1 {
    font-size: 27px;
    line-height: 118.1%;
  }

  .header-title_blur {
    display: none;
  }

  .header-subtitle {
    display: none;
  }

  .header-subtitle_blur {
    display: none;
  }

  .header-description {
    width: 218px;
    margin-bottom: 23px;
  }
  .header-description h3 {
    font-size: 13px;
  }

  .header-description h3::after {
    content: "Мы web-студия которая работает уже больше 3-х лет";
  }

  .btn-block {
    width: 129px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-header {
    width: 129px;
    height: 38px;
    background: rgba(46, 236, 197, 0.1);
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.15);
  }

  .btn-header P {
    width: 74px;
    font-size: 11px;
  }

  .arrow {
    width: 7px;
    height: 12px;
    margin-left: 0;
    background-image: url(../img/m-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .question {
    display: none;
  }

  .box-text_conteiner {
    max-width: 305px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 18px;
  }

  .box-text {
    max-width: 324px;
    min-height: 38px;
    border-radius: 41px;
    border: 1.5px solid #208c76;
    background: rgba(46, 236, 197, 0.04);
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .box-text p {
    max-width: 298px;
    text-align: center;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 15px;
  }
}
