@media (max-width: 1905px) {
  .header-block {
/*     position: absolute; */
    top: 228px;
/*     display: flex; */
/*     width: 100%; */
  /*   justify-content: center;
    overflow: hidden; */
    /* height: 844px; */
    height: 412px;
  }

  .man-block {
    width: 344px;
    height: 412px;
  }
  
  .man {
    position: absolute;
    width: 536px;
    height: 412px;
    /* top: 211px; */
    /* right: 118px; */
    background-image: url(../img/man.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: 1;
  }

  .header-text {
/*     display: flex; */
    width: 305px;
    /* display: flex; */
    /* flex-direction: column */
    /* gap: 100px; */
  }

  .header-text_block {
    position: absolute;
    /* top: 327px; */
    width: 228px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
  }
  

  .header-title {
    /* position: absolute; */
    width: 228px;
    margin-top: 0;
    margin-bottom: 10px;
    /* top: 226px; */
    /* z-index: 0; */
  }

  .header-title h1 {
    font-size: 27px;
    line-height: 118.1%;
  }

  .header-title_blur {
    display: none;
  }

  .header-subtitle {
    display: none;
  }

  .header-subtitle_blur {
    display: none;
  }

  .header-description {
    /* position: absolute; */
    width: 218px;
    margin-bottom: 23px;
    /* top: 304px; */
  }
  .header-description h3 {
    font-size: 13px;
  }

  .header-description h3::after {
    content: "Мы web-студия которая работает уже больше 3-х лет";
  }

  .btn-block {
    /* position: absolute; */
    /* top: 359px; */
    width: 129px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .btn-header {
    width: 129px;
    height: 38px;
background: rgba(46, 236, 197, 0.10);
box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.15);
  }

  .btn-header P {
    width: 74px;
    font-size: 11px;
  }

  .arrow {
    width: 7px;
    height: 12px;
    margin-left: 0;
    background-image: url(../img/m-arrow.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .question {
    display: none;
  }

  .box-text {
    position: absolute;
    top: 664px;
    width: 100%;
    min-height: 38px;

    border-radius: 41px;
    border: 1.5px solid #208c76;
    background: rgba(46, 236, 197, 0.04);
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .box-text p {
    max-width: 298px;
    color: #fff;
    text-align: center;
    font-family: Ruberoid;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .box-text p::after {
    content: 'Работаем в сфере web-разработки более 3-х лет';
  }
  .box-text_next p::after {
    content: 'В нашей команде находятся лучшие исполнители';
  }

  .box-text_next {
    top: 720px;
  }
}
