@media (max-width: 1904px) {
  .burger {
    position: absolute;
    width: 74px;
    height: 74px;
    top: 38px;
    left: 1px;
    background-image: url(../img/burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .logo {
    position: absolute;
    width: 69px;
    height: 47px;
    top: 56px;
    right: 18px;
    background-image: url(../img/logo.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .main-block_header {
    position: absolute;
    max-width: 203px;
    /* height: 100%; */
    top: 211px;
    left: 16px;
  }

  .main-block_description {
    width: 233px;
    /* height: 90px; */
    top: 266px;
    left: 18px;
  }

  #h4::after {
    content: "Мы web-студия которая работает уже больше 3-х лет";
  }

  .btn-clip {
    position: absolute;
    width: 126px;
    height: 35px;
    top: 341px;
    left: 17px;
    border-radius: 41px;
    border: 1.5px solid rgba(46, 236, 197, 1);
    background-color: rgba(46, 236, 197, 0.1);
    box-shadow: 0px 0px 62px 0px rgba(46, 236, 197, 0.15);
  }

  .btn-clip a {
    position: absolute;
    width: 81px;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 10px;
    left: 24px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0.4px;
    color: rgba(255, 255, 255, 1);
  }

  #arrow {
    width: 10px;
    height: 12px;
  }

  .box-up {
    position: absolute;
    max-width: 321px;
    min-height: 35px;
    top: 646px;
    left: -2px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 1.5px solid #208c76;
    border-radius: 41px;
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
    background: rgba(46, 236, 197, 0.04);
  }

  .box-up::after {
    position: relative;
    display: block;
    /* max-width: 287px;
    min-height: 15px; */
    top: 9px;
    content: "Работаем в сфере web-разработки более 3-х лет";
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    /*   line-height: 100%; */
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
  }

  .box-down {
    position: absolute;
    top: 702px;
    left: -2px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border: 1.5px solid #208c76;
    border-radius: 41px;
    max-width: 321px;
    min-height: 35px;
    box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.1);
    background: rgba(46, 236, 197, 0.04);
  }

  .box-down::after {
    position: relative;
    display: block;
    top: 10px;
    content: "В нашей команде находятся лучшие исполнители";
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    letter-spacing: -0.1px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 0 auto;
  }
}

@media (max-width: 359px) { 
  .box-up::after {
    font-size: 10px;
  }
  .box-down::after {
    font-size: 10px;
  }

  .man, .circle, .circle-s, .circle-m  {
    display: none;
  }

/*   .btn-portfolio_up {
      position: absolute;
      max-width: 128px;
      min-height: 38px;
      top: 966px;
      left: -8px;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      border: 1.5px solid #2eecc5;
      border-radius: 4px;
      box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
      background: #161617;
      z-index: 1;
  } */
}
