@media (max-width: 1905px) {
  .main-menu {
    position: absolute;
    width: 100%;
    top: -7px;
    align-items: center;
    flex-direction: row-reverse;
  }

  .menu {
    display: none;
  }

  .li-main {
    display: none;
  }
  .li-question a::after {
    content: "Почему именно мы?";
  }
  .li-portfolio a::after {
    content: "Портфолио";
  }
  .li-tdrif a::after {
    content: "Тарифы";
  }
  .li-contacty a::after {
    content: "Контакты";
  }
  .li-bid a::after {
    content: "Осавить заявку";
  }

  .btn-order {
    display: none;
  }

  .logo-studio {
    display: none;
  }

  .logo-web {
    display: none;
  }

  .m-logo {
    width: 69px;
    height: 47px;
    margin-right: 4px;
    flex-shrink: 0;
    background-image: url(../img/logo.svg);
    fill: #fff;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-right: 18px;
  }
}
