@media (max-width: 1905px) {
    .main-menu {
      position: absolute;
      width: 100%;
   /*    height: 76px; */
      top: -7px;
      align-items: center;
      flex-direction: row-reverse;
    }
  
    .menu {
      display: none;
    }
  
    .btn-order {
      display: none;
    }
  
    .logo-studio {
      display: none;
    }
  
    .logo-web {
      display: none;
    }
  
    .m-logo {
      width: 69px;
      height: 47px;
      margin-right: 4px;
      flex-shrink: 0;
      background-image: url(../img/logo.svg);
      fill: #FFF;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      margin-right: 18px;
    }
  }