@media (max-width: 1904px) {
  .portfolio-title {
    max-width: 526px;
    top: 784px;
    text-align: center;
  }

  #portf::after {
    content: "Портфолио";
  }

  .portfolio-subtitle {
    max-width: 328px;
    top: 797px;
    text-align: center;
  }
}