@media (max-width: 1905px) {
  .portfolio {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2436px;
  }

  .porfolio-title {
    width: 330px;
    text-align: center;
  }

  .porfolio-title h4::after {
    content: "Портфолио";
  }

  .porfolio-subtitle {
    width: 329px;
    margin-bottom: 45px;
  }

  .btn-portfolio {
    /* width: 269px;
    height: 51px;
    flex-shrink: 0; */
    display: none;
  }
/* 
  .btn-portfolio a {
    width: 209px;
    font-size: 17px;
  } */

}
