@media (max-width: 1904px) {
  .portfolio-header {
    position: absolute;
    max-width: 526px;
    /*     height: 100%; */
    top: 2417px;
    left: 3px;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
  }

  .slider-portfolio {
    position: absolute;
    border-radius: 5px;
    max-width: 258px;
    min-height: 153px;
    top: 2540px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    background: #4e751a;
    opacity: 0.5;
  }

  #portf::after {
    content: "Портфолио";
  }

  .portf-subscribe {
    position: absolute;
    width: 309px;
    height: 34px;
    top: 2464px;
    left: 25px;
    text-align: center;
    content: "В данном портфолио вы сможете увидеть кейсы наших работ на 2022 - 2023 год";
  }

  .portf-text::after {
    content: "В данном портфолио вы сможете увидеть кейсы наших работ на 2022 - 2023 год";
  
}
}