@media (max-width: 1905px) {
  .portfolio {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 2436px;
  }

  .porfolio-title {
    width: 330px;
    text-align: center;
  }

  .porfolio-title h4::after {
    content: "Портфолио";
  }

  .porfolio-subtitle {
    width: 329px;
    margin-bottom: 45px;
  }

  .btn-portfolio {
    width: 269px;
    height: 51px;
    flex-shrink: 0;
  }

  .btn-portfolio a {
    width: 209px;
    font-size: 17px;
  }

  .slider-portfolio_container {
    position: absolute;
    top: 2559px;
    left: -14px;
    width: 352px;
    height: 151px;
    overflow: hidden;
  }

  .sliderportfolio {
    gap: 39px;
  }

  .sliderportfolio img {
    width: 235px;
    height: 151px;
  }
  

  .box-arrow_portfolio {
    top: 2779px;
    width: 100%;
    left: 0;
  }
  .arrow-style {
    position: absolute;
  }

  .left-arrow {
    left: -28px;
  }

  .right-arrow {
    right: -28px;
  }
}
