@media (max-width: 1366px) {
  .tarif-title {
    position: absolute;
    top: 2946px;
    width: 100%;
    text-align: center;
  }

  .block-arrow_tarif {
    top: 3437px;
  }

  .tarif-arrow_position {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .tarif-arrow_conteiner {
    width: 180px;
    display: flex;
    justify-content: space-between;
  }
}
