@media (max-width: 1905px) {
  .tarif-title {
    position: absolute;
    top: 2946px;
    width: 100%;
    text-align: center;
  }

  .box-arrow_tarif {
    top: 3473px;
    width: 100%;
    /* visibility: hidden; */
  }



}
