@media (max-width: 1904px) {
  .tarif-header {
    position: absolute;
    max-width: 230px;
    min-height: 65px;
    top: 2928px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    text-align: center;
  }

  /* .slider-tarif {
    position: absolute;
    max-width: 274px;
    min-height: 375px;
    top: 3003px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    border-radius: 36px;
    border-width: 1px;
    background: #352727;
    opacity: 0.5;
  } */
}
