@media (max-width: 1366px) {
  .menu-burger_conteiner {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
  }
  

  .menu-burger {
    width: 100%;
    margin: 0 15px;
    height: 340px;
    background: linear-gradient(133deg, #161919 2.37%, #373a3a 100.31%);
    border-radius: 0px 0px 20px 20px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    z-index: 2;
  }

  .burger {
    width: 73px;
    height: 76px;
    background-image: url(../img/burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .burger-x {
    width: 46px;
    height: 46px;
    margin: 14px;
    background-image: url(../img/burgerX.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 3;
  }

  .m-menu {
    position: relative;
    flex-direction: column;
    top: 100px;
  }

  .menu-item {
    position: relative;
    width: 100%;
    height: 43px;
    text-align: center;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-item:hover {
    background: linear-gradient(
      90deg,
      #30dbb8 -17.89%,
      #37a58f 24.63%,
      #398778 99.91%
    );
  }

  .menu-item a {
    top: 10px;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.1%;
    background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
