/*  */

@media (max-width: 1905px) {
  .menu-burger {
    position: absolute;
    width: 328px;
    height: 340px;
    /* background-image: url(../img/burgerX.svg); */
    background: linear-gradient(133deg, #161919 2.37%, #373a3a 100.31%);
    border-radius: 0px 0px 20px 20px;
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    z-index: 1;
  }

  .burger {
    width: 73px;
    height: 76px;
    background-image: url(../img/burger.svg);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .burger-x {
    width: 69px;
    height: 47px;
    background-image: url(../img/burgerX.svg);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }

  .m-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 110px;
    margin: 0 auto;
  }

  .menu-item {
    position: relative;
    width: 328px;
    height: 43px;
    /* background-image: url(../img/burger.svg); */
    text-align: center;
    z-index: 2;
  }

  .menu-item:hover {
    background: linear-gradient(
      90deg,
      #30dbb8 -17.89%,
      #37a58f 24.63%,
      #398778 99.91%
    );
  }

  .menu-item a {
    position: relative;
    top: 10px;
  /*   color: var(--font-color);
    font-family: var(--font-family); */
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 118.1%; /* 23.62px */
    background: linear-gradient(91deg, #b5feef 10.31%, #2eecc5 165.09%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
