.block-menu {
  position: absolute;
  width: 100%;
  top: 48px;
  display: flex;
  justify-content: center;
}

.main-menu {
  width: 1290px;
  display: flex;
  justify-content: space-between;
}
.li-main {
  display: none;
}
.li-question a::after {
  content: "Почему именно мы?";
}
.li-portfolio a::after {
  content: "Портфолио";
}
.li-tdrif a::after {
  content: "Тарифы";
}
.li-contacty a::after {
  content: "Контакты";
}
.li-bid {
  display: none;
}

.logo {
  margin-left: 16px;
  transform: rotate(-0.192deg);
}

/* .logo p {
  font-style: normal;
  font-weight: 600;
  line-height: 140.6%;
  text-transform: uppercase;
}
 */
.logo-studio {
  font-style: normal;
  font-weight: 600;
  line-height: 140.6%;
  text-transform: uppercase;
  font-size: 17px;
  letter-spacing: 5.27px;
  transform: rotate(-0.192deg);
}

.logo-studio::after {
  content: "studio";
}

.logo-web {
  position: absolute;
  font-style: normal;
  font-weight: 600;
  line-height: 140.6%;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: -4.6px;
  /* transform: translateY(-17px); */
  transform: rotate(-0.192deg);
  bottom: -5px;
}

.logo-web::after {
  content: "web";
}

.menu {
  width: 100%;
  height: 21px;
  display: flex;
  gap: 36px;
  padding-inline-start: 267px;
  margin: 18px 0;
  z-index: 1;
}

.menu li {
  color: var(--font-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.btn-order {
  width: 183px;
  height: 56px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 62px rgba(46, 236, 197, 0.15);
}

.btn-order p {
  width: 97px;
  font-size: 20px;
}

.menu-burger_conteiner {
  /* display: none; */
  overflow: hidden;
}