.section-portfolio {
  width: 100%;
  margin-bottom: 487px;
  display: flex;
}

.section-portfolio_conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.porfolio-text {
  width: 636px;
  margin-left: 17px;
}

.porfolio-title {
  margin-bottom: 24px;
}

.porfolio-title h4::after {
  content: "Наше портфолио";
}

.porfolio-subtitle {
  width: 526px;
  margin-bottom: 47px;
}

.porfolio-subtitle h5::after {
  content: "В данном партфолио вы сможете увидеть кейсы наших работ на 2022 - 2025 год";
}

.btn-portfolio {
  width: 269px;
  height: 51px;
  border-radius: 49px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 37px 0 rgba(46, 236, 197, 0.2);
}

.btn-portfolio p {
  width: 209px;
}


.portfolio-arrow_conteiner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 155px;
}

@media (max-width: 1300px) {
  .section-portfolio {
    flex-direction: column;
  
      margin-bottom: 87px;

    }


.portfolio-arrow_conteiner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 55px;
  gap: 35px;
}
}