.portfolio {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 2266px;
}

.porfolio-title {
  width: 500px;
}

.porfolio-title h4::after {
  content: "Наше портфолио";
}

.porfolio-subtitle {
  width: 526px;
  margin-bottom: 45px;
}

.btn-portfolio {
  width: 269px;
  height: 51px;
  flex-shrink: 0;
}

.btn-portfolio p {
  width: 209px;
  font-size: 17px;
}

.box-arrow_portfolio {
  top: 2308px;
  width: 852px;
  left: 531px;
z-index: 1;
}

.slider-portfolio_container {
  position: absolute;
  top: 2267px;
  left: 673px;
  width: 910px;
  height: 363px;
  /* border-radius: 5px; */
  overflow: hidden;
  
}

.sliderportfolio {
  position: absolute;;
  display: flex;
  gap: 102px;
  transition: transform 0.5s ease-in-out;
}

.slider-portfolio{
  width: 567px;
  height: 363px;
  border-radius: 5px;
  border: 1.5px solid rgba(46, 236, 197, 0.50);
  background: linear-gradient(166deg, #19201F 16.33%, #323939 90%);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.10);
}

.Frame14 {
  background-image: url(../img/slider-portfoloi/Frame\ 14ывыв\ 1.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame168 {
  background-image: url(../img/slider-portfoloi/Frame\ 168.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame2 {
  background-image: url(../img/slider-portfoloi/Frame\ 1ы\ 2.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame21 {
  background-image: url(../img/slider-portfoloi/Frame\ 21.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame45731 {
  background-image: url(../img/slider-portfoloi/Frame\ 45731.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame78 {
  background-image: url(../img/slider-portfoloi/Frame\ 78.svg);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame9 {
  background-image: url(../img/slider-portfoloi/Frame\ 9ы.svg);
  background-size: contain;
  background-repeat: no-repeat;
}


