.portfolio {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  top: 2266px;
}

.porfolio-title {
  width: 500px;
}

.porfolio-title h4::after {
  content: "Наше портфолио";
}

.porfolio-subtitle {
  width: 526px;
  margin-top: 17px;
  margin-bottom: 47px;
}

.btn-portfolio {
  width: 269px;
  height: 51px;
  border-radius: 49px;
  background: rgba(46, 236, 197, 0.1);
  box-shadow: 0 0 37px 0 rgba(46, 236, 197, 0.2);
}

.btn-portfolio p {
  width: 209px;
}

.block-arrow_portfolio {
  position: absolute;
  top: 2414px;
}

.portfolio-arrow_position {
  /* position: absolute; */
  width: 100%;
  display: flex;
  justify-content: right;
}

.portfolio-arrow_conteiner {
  position: absolute;
  width: 636px;
    display: flex;
  justify-content: space-between
}