@media (min-width: 1905px) {
  .portfolio-header {
    position: absolute;
    max-width: 526px;
    /*     height: 100%; */
    top: 2260px;
    left: 8px;
  }

  #portf::after {
    content: "Наше портфолио";
  }

  .portf-subscribe {
    position: absolute;
    width: 507px;
    /* height: 34px; */
    top: 2346px;
    left: 6px;
    /* text-align: center;
  /*   content: "В данном портфолио вы сможете увидеть кейсы наших работ на 2022 - 2023 год"; */
  }

  #portf-text::after {
    content: "В данном портфолио вы сможете увидеть кейсы наших работ на 2022 - 2023 год";
}

  .btn-portfolio {
    position: absolute;
    width: 265px;
    height: 51px;
    top: 2438px;
    left: 8px;
    border: 1.5px solid #2eecc5;
    border-radius: 49px;
    box-shadow: 0 0 37px 0 rgba(46, 236, 197, 0.2);
    background: rgba(46, 236, 197, 0.1);
  }

  .btn-portfolio::after {
    position: relative;
    max-width: 208px;
    min-height: 23px;
    content: "Компьютерные версии";
    top: 16px;
    left: 30px;
    /* margin: 15px auto 0 15px; */
    /*  margin: 0 auto; */
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
  }

  .btn-portfolio a {
    top: 16px;
    left: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
  }

 /*  .slider-portfolio {
    position: absolute;
    border-radius: 5px;
    max-width: 567px;
    min-height: 363px;
    top: 2267px;
    left: 676px;
    background: #4e751a;
    opacity: 0.5;
  } */
}
