@media (min-width: 1905px) {
  .portfolio-title {
    width: 100%;
    top: 1590px;
    left: 8px;
  }

  #portf::after {
    content: "Наше портфолио";
  }

  .portfolio-subtitle {
    max-width: 526px;
    top: 1600px;
    left: 7px;
  }

  .btn-portfolio {
    position: absolute;
    width: 265px;
    height: 51px;
    top: 2438px;
    left: 8px;
    border: 1.5px solid #2eecc5;
    border-radius: 49px;
    box-shadow: 0 0 37px 0 rgba(46, 236, 197, 0.2);
    background: rgba(46, 236, 197, 0.1);
  }

  .btn-portfolio::after {
    position: relative;
    max-width: 208px;
    min-height: 23px;
    content: "Компьютерные версии";
    top: 16px;
    left: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
  }

  .btn-portfolio a {
    top: 16px;
    left: 30px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 100%;
    color: rgba(255, 255, 255, 1);
  }
}
