@media (min-width: 1905px) {
.section-about_text {
  position: absolute;
  max-width: 675px;
  height: 100%;
  top: 1157px;
  left: 9px;
}

#h5-up::after {
  content: "Пока конкуренты говорят о том, что они лучшие - мы это доказываем делом.";
}
#h5-down::after {
  content: "Вы можете ознакомиться с информацией о нас и посмотреть наше портфолио";
}

.btn-portfolio_up {
  position: absolute;
  width: 198px;
  height: 55px;
  top: 1449px;
  left: 7px;
  border: 1.5px solid #2eecc5;
  border-radius: 4px;
  box-shadow: 0 0 38px 0 rgba(46, 236, 197, 0.2);
  background: #161617;
  z-index: 1;
}

.btn-portfolio_down {
  position: absolute;
  width: 198px;
  height: 55px;
  top: 1460px;
  left: 15px;
  border: 1.5px solid rgba(46, 236, 197, 0.4);
  border-radius: 4px;
}

.btn-portfolio_up a {
  top: 14px;
  left: 42px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 19px;
  color: #fff;
}

.block-card {
  position: absolute;
  width: 100%;
  min-height: 400px;
  top: 1576px;
  display: flex;
  justify-content: space-between;
}

.card {
  /* position: relative; */
  width: 400px;
  height: 400px;
  /* top: 1576px; */
  border-radius: 6px;
  background: linear-gradient(
    139.56deg,
    #303134 10.06%,
    #282828 53.72%,
    #282828 88%
  );
}



#left-card {
  left: 6px;
  border-width: 1px;
  border-image-source: linear-gradient(
    134.85deg,
    rgba(255, 255, 255, 0.2) 1.5%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid;
  box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);

  border-image-slice: 30;
}

#middle-card {
  /* left: 441px; */
  left: 6px;
  border-width: 1px;
  border-image-source: linear-gradient(
    134.57deg,
    rgba(255, 255, 255, 0.2) 0.74%,
    rgba(255, 255, 255, 0) 100%
  );
  border: 1px solid;
  box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
}

#right-card {
  /* left: 878px; */
  left: 6px;
  border-width: 1px;
  border-image-source: linear-gradient(
    136.85deg,
    rgba(255, 255, 255, 0.2) 1.87%,
    rgba(255, 255, 255, 0) 98.6%
  );
  border: 1px solid;
  box-shadow: 0px 0px 80px 0px rgba(44, 44, 45, 0.35);
}

#up-card {
  top: 1145px;
  left: 876px;
  background: linear-gradient(
    139.56deg,
    #527791 10.06%,
    #325597 53.72%,
    #193895 88%
  );
}

.card-img {
  position: relative;
  width: 200px;
  height: 200px;
  top: 200px;
  left: 200px;
}

.card-text_head {
  position: absolute;
  width: 258px;
  height: 64px;
  top: 40px;
  left: 40px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 26px;
  line-height: 123%;
  color: rgba(255, 255, 255, 1);
}

.card-text {
  position: absolute;
  width: 344px;
  height: 63px;
  top: 125px;
  left: 40px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 17px;
  line-height: 123%;
  color: rgba(255, 255, 255, 0.9);
}

}

