.slider-portfolio_container {
  position: absolute;
  top: 2267px;
  width: 100%;
  height: 363px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.sliderportfolio {
  position: absolute;
  width: 2557px;
  display: flex;
  justify-content: flex-end;
  gap: 102px;
  transition: transform 0.5s ease-in-out;
}

.slider-portfolio {
  width: 567px;
  height: 363px;
  border-radius: 5px;
  border: 1.5px solid rgba(46, 236, 197, 0.5);
  background: linear-gradient(166deg, #19201f 16.33%, #323939 90%);
  box-shadow: 0 0 106px 0 rgba(46, 236, 197, 0.1);
}

.Frame14 {
  background-image: url(../img/slider-portfolio/Frame.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame168 {
  background-image: url(../img/slider-portfolio/Frame1.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame2 {
  background-image: url(../img/slider-portfolio/Frame2.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame21 {
  background-image: url(../img/slider-portfolio/Frame3.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame45731 {
  background-image: url(../img/slider-portfolio/Frame4.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame78 {
  background-image: url(../img/slider-portfolio/Frame5.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.Frame9 {
  background-image: url(../img/slider-portfolio/Frame6.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1300px) {
  .slider-portfolio_container {
    top: 2559px;
    width: 100%;
    height: 151px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .sliderportfolio {
    width: 782px;
    display: flex;
    justify-content: flex-end;
    gap: 39px;
  }

  .slider-portfolio {
    width: 254px;
    height: 151px;
  }

  .box-arrow_portfolio {
    top: 2779px;
    width: 100%;
    left: 0;
  }

  .arrow-style {
    position: absolute;
  }

  .left-arrow {
    left: -28px;
  }

  .right-arrow {
    right: -28px;
  }

  .Frame14 {
    background-image: url(../img/m-slider-portfolio/m-Frame.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Frame168 {
    background-image: url(../img/m-slider-portfolio/m-Frame1.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Frame2 {
    background-image: url(../img/m-slider-portfolio/m-Frame2.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Frame21 {
    background-image: url(../img/m-slider-portfolio/m-Frame3.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Frame45731 {
    background-image: url(../img/m-slider-portfolio/m-Frame4.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Frame78 {
    background-image: url(../img/m-slider-portfolio/m-Frame5.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
  .Frame9 {
    background-image: url(../img/m-slider-portfolio/Frame6.png);
    background-size: contain;
    background-repeat: no-repeat;
  }
}
