.tarif-title {
  position: absolute;
  width: 100%;
  top: 2984px;
  text-align: center;
}

.slider-tarif_box {
  position: absolute;
  top: 3086px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.slider-tarif {
  width: 308px;
  height: 570px;
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    169deg,
    #313134 9.31%,
    #292929 61.88%,
    #282828 111.76%
  );
}

.box-arrow_tarif {
  top: 3230px;
  width: 1310px;
}


