.tarif-title {
  position: absolute;
  width: 100%;
  top: 2984px;
  text-align: center;
}

/* .slider-tarif_box {
  position: absolute;
  top: 3086px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  gap: 32px;
} */

.box-arrow_tarif {
  top: 3230px;
  width: 1310px;
  z-index: 1;
}

.slider-tarif_conteiner {
  position: absolute;
  top: 3086px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.slider-tarif {
  display: flex;
  justify-content: center;
  gap: 32px;
  transition: transform 0.5s ease-in-out;
}

.card-tarif {
  width: 370px;
  height: 570px;
  border-radius: 36px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    169deg,
    #313134 9.31%,
    #292929 61.88%,
    #282828 111.76%
  );
  display: flex;
}

.card-tarif_conteiner {
  width: 325px;
  
  margin: 0 auto;

}

.card-tarif_title {
  color: #fff;
  text-align: center;
  font-family: var(--font-family);
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 44px auto;
}

.card-tarif_subtitle {
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
  font-family: var(--font-family);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%; /* 26.146px */
  margin: 2px auto 65px;
}

.cadr-tarif_price {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price {
  
  display: flex;
  flex-direction: column;
}
.price-title {
  color: #fff;
  font-family: Ruberoid;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%; /* 33.836px */
}
.price-subtitle {
  color: rgba(255, 255, 255, 0.4);
  text-align: center;
  font-family: Ruberoid;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 153.8%; /* 26.146px */
}

.btn-price {
width: 172px;
}
